body {
    margin: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.box {
    width: 150px;
    height: 150px;
    transition: transform 0.5s ease;
}
#box1 {
    background-color: red;
}
#box2 {
    background-color: green;
}
#box3 {
    background-color: rgb(0, 98, 255);
    
}



.task3__link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #ff9800;
    color: #fff;
    border-radius: 5px;

}
.task4__link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #ff9800;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}

#box__area {
  width: 400px;
  height: 400px;
  background: rgba(68, 68, 68, 0.3);
  position: relative;
}

#box {
  width: 50px;
  height: 50px;
  background: orange;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  transition: left 0.3s, top 0.3s;
  z-index: 10;
}


.task4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #2b2b2b;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  width: 280px;
  text-align: center;
  padding: 30px 40px;
}

.task4__title {
  margin-bottom: 5px;
}

.task4 input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.task4__button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: orange;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.task4__button:hover {
  background-color: darkorange;
}